//Partials:
//name convention: _[name]
$primary-color: tomato;
$secondary-color: navy;
$type-primary-color: white;
$type-secondary-color: black;
ul{
    list-style: none;
    background-color: $secondary-color;
    li
    {
        color: $type-primary-color;
        background-color: $primary-color;
    }
}

