@use 'lists'; //importing partials

//Built-in functions
@use "sass:math";
@use "sass:list"; //list.append(), 
@use "sass:map"; //map.get(), 
@use "sass:meta"; //meta.keywords(),


@mixin theme($bg, $color, $height){
    background-color: $bg;
    color: $color;
    height: $height;
}

@mixin changing-border($name, $border-type, $border-color)
{
    .interpolation-#{$name}{
        border: 0.5em $border-type $border-color;
        color: black;
        text-align: center;
    }
}

@include changing-border("section", dotted, tomato);

%shared-properties{
    margin: 1em 2em;
}

header{
    @include theme(navy, aliceblue, 5vh);
    @extend %shared-properties;    
}

main{
    @include theme(#6AB547, #D8829D, 50vh);

    //Using math operators
    //The unit in the result will be 'vh'. But if it were % would have been %
    width: math.div(600px, 960px) * 100vh; 
}

footer{
    @include theme(#D8829D, #6AB547, 10vh);
    @extend %shared-properties;
}

//Exaple of pseudo-classes inside
button {
    display: block;
    margin: 0 auto 0 auto;
    //So we don't repeat (font-size, font-weight, font-style)
    font: {
        size: 3em;
        weight: bold;
        style: italic;
    }

    &:hover{
        background-color: navy;
    }
}

//using loops
$classes: l1, l2, l3, l4;
@each $l_num in $classes{
    .#{$l_num} {
        color:cyan;
    }
}