* {
    margin: 0;
    padding: 0;
}

/* ANIMATION PROPERTY (default values)

animation-name: none 

animation-duration: 0s 

animation-timing-function: ease 

animation-delay: 0s 

animation-iteration-count: 1 

animation-direction: normal 

animation-fill-mode: none 

animation-play-state: running 

animation-timeline: auto 


*/

.box1{
    background-color: tomato;
    width: 100px;
    height: 100px;

    border: 1px black dotted;
    border-radius: 30em;

    animation: enlarging-ball 3s infinite ease-in;
}

@keyframes enlarging-ball {

    from {
        width: 100px;
        height: 100px;
    }

    to {
        width: 300px;
        height: 300px;
    }
    
}

.box2{
    background-color: pink;
    width: 100px;
    height: 100px;

    border: 1px black dotted;
    border-radius: 30em;

    animation: moving-ball 3s infinite ease-in;
}

@keyframes moving-ball {
    0%{
        background-color: pink;
    }
    50%{
        background-color: black;
    }
    100%{
        background-color: pink;
    }
}

.box3{
    background-color: aliceblue;
    width: 100px;
    height: 100px;

    border: 1px black dotted;
    border-radius: 30em;

    animation: big-small-ball 3s infinite ease-in;
}

@keyframes big-small-ball{
    0%{
        width: 100px;
        height: 100px;
    }
    50%{
        width: 150px;
        height: 150px;
    }   
    100%{
        width: 100px;
        height: 100px;

    }
}
